html {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    line-height: 1.5rem;
}

a {
    text-decoration: none;
}

h2 {
    font-weight: 800;
    text-align: center;
}

header, main {
    margin: 0 auto;
    padding: 20px
}

.logo {
    margin-bottom: 20px;
}

.logo img {
    font-family: 'Gill Sans MT', sans-serif;
}

.link-grey a:link, .link-grey a:visited {
    color: rgb(93,95,121);
}

.link-grey a:hoover {
    color: rgb(245, 157, 35);
}

header {
    text-align: center;
    margin-bottom: 60px;
}

.logo img {
    margin-right: 3px;
}

.link-black a:link, a:visited {
    color: rgb(0,0,0);
}

li {
    list-style: none;
    font-weight: 800;
}

.contenedor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contenedor>div {
    flex: 1 200px;
}

.index-box1, .index-box2 {
    padding: 20px 10px;
    
}

.index-box1 {
    background: rgb(240, 93, 80);
    text-align: center;
}

.index-box2 {
    background: rgb(245, 157, 35);
    margin-bottom: 40px;
}

.index-box2>h2 {
    margin-bottom: 20px;
}

.link-orange {
    margin-bottom: 20px;
    text-align: center;
}

.link-orange a:link, .link-orange a:visited {
    font-size: 0.8rem;
    color: rgb(245, 157, 35);
}

.mujer-referente {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 2rem;
}

.disciplina {
    font-size: 0.8rem;
}

.nombre {
    font-weight: 700;
}

img {
    max-width: 100%;
}

footer {
    color: rgb(255,255,255);
    background-color: rgb(0,0,0);
}

.link-white a:link {
    color: rgb(255, 255, 255);
}

.link-white a:hover {
    color: rgb(245, 157, 35);
}

footer button {
    background-color: rgb(240, 93, 80);
    color: rgb(255, 255, 255);
}
